body{
    background-color: grey;
}
#google_lens{
    float:left;
    margin-right: 100;
}

.div{
    background-color:darkslategray;
    margin-left:250;
    border-radius: 50px; 
    width:75%;
    box-shadow:5px 5px 5px grey;
    margin-bottom: 100;
}

#test_image1{
    font-size: 25px;
    color:gold;
    margin-right: 89%;
}

#bottle{
    border-radius: 25px;
    box-shadow:5px 5px 5px lightslategray;
    
}

#test_image{
    margin-right: 75%;
}

#output_on_google_lens{
   border-radius: 75px;
   width:250px;
   float: right;
  
   
}

#output_on_mobilenet{
    border-radius: 75px;
    width:250px;
    margin-top:-580px;
}

#result{
    font-size:25px;
    margin-top:-150px;
    color:aliceblue;
}

#draw{
    font-size:25px;
    color:aliceblue;
}

.copy_right_footer{
    position: fixed;
    color:dimgrey;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    bottom: 0;
    width: 100%;
    background-color:azure; 
    font-family: 'Times New Roman', Times, serif;
  }
 #heading{
    font-weight:bolder;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    color:black;
 }
 #mobilenet_img{
    border-radius: 10px;
    margin-top:40px;
 }